MONDAY_API_TOKEN=your_monday_token
MONDAY_BOARD_ID=1234567890
MONDAY_API_VERSION=2025-04

MONDAY_PRODUCT_NAME_COLUMN_ID=
MONDAY_SCIENTIFIC_NAME_COLUMN_ID=
MONDAY_TAXON_ID_COLUMN_ID=
MONDAY_CATEGORY_COLUMN_ID=

BIND_ADDRESS=127.0.0.1
PRODUCT_SOURCE=monday
ARTSDATABANKEN_LIVE=0
DEFAULT_COUNTIES=Trøndelag
DEFAULT_COUNTY_IDS=50
